@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* heading and logo */

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    font-weight: bold;
}

.header ul {
   list-style: none;
   overflow: hidden;
   background-color: #fff;
   max-width: 100%;
}

.header ul a{
    display: block;
    padding: 20px;
    border-right: 1px solid #000000;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #ddd;
}

.header .logo{
    float: left;
    display: block;
    font-size: 300%;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 600;
    letter-spacing: 5px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
}

/* body */

body {
    font-family: akshar, sans-serif;
    font-weight: 300;
    color: #000000;
}

a {
    color: #000000;
}

p {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

h2 {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 200%;
    padding-top: 20px;
    text-align: center;
}

h3 {
    color: #fafafa
}

.h3-section{
    font-size: 50%;
    color: #fafafa;
}

/* About Page */

#header-image img {
    width: 100%;
    height: 100vh;
}

.header-image {
    position: relative;
    text-align: center;
    height: auto;
}

.header-section {
    position: relative;
    text-align: center;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    font-weight: bold;
    text-align: center;
}

/* Workouts Page */

#workouts-image img{
    width: 100%;
    height: 100vh;
}

.workouts-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.workouts-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}

/* Diets Page */

#diets-image img{
   width: 100%;
   height: 100vh;
}

.diets-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.diets-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}

/* Signup Page */

#signup-image img{
    width: 100%;
    height: 100vh;
}

.signup-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.signup-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}
  
/* Sign Up Form */

* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  opacity: 0.9;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #000000;
  color: #f1f1f1;
  padding: 24px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.signup-headers{
    font-size: 50px;
    font-weight: bold;
    padding-left: 10px;
}

#signup-h2 {
    padding-bottom: 100px;
}

#signup-form {
    background-color: #fafafa;
}

/*-------------------------------------ROW*/

.row {
    display: flex;
    
}

.row img {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}




/* Footer Social networks */

#footer{
    height: 100px;
}

.social-networks{
    text-align: center;
    font-size: 150%;
    padding-top: 20px;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 1px;
    color: #000000;
}

#social-text {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 200%
}

/* media rule for 768px and up */

@media (min-width:768px) {

    .header li{
        float: left;
    }

    .header li a{
        padding: 20px 30px;
    }

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon{
        display: none;
    }

}

/* media rule for 600px and down */

@media screen and (max-width: 600px) {

    .h3-title {
        padding-top: 25px;
        font-size: 50%;
    }

    .h3-section {
        font-size: 25%;
    }
    
    .hero-img {
        min-height: 500px;
    }

    .column {
        width: 100%;
        padding: 0;
        float: left;
        display: contents;
    }

    .row {
        display: block;
    }

    .row img {
        width: 100%;
    }

    .container {
        width: 100%;
        display: block;
        flex-flow: row;
    }

    .container-img {
        display: block;
        width: 100%;
    }

    

}






/*-------------------------------------container*/

.container {
   width: auto;
}

.container img {
    display: block;
    height: 600px;
}

.column {
    width: 50%;
    float: left;
}

