@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: akshar, sans-serif;
    font-weight: 300;
    color: #000000;
}

a {
    color: #000000;
}

/* heading and logo */



.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

#header-pic img{
    max-width: 100%;
    max-height: 25%;
    width: auto;
}


.header ul {
   list-style: none;
   overflow: hidden;
   background-color: #fff;
   max-width: 100%;
   
}

.header ul a{
    display: block;
    padding: 20px;
    border-right: 1px solid #000000;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #ddd;
}

.header .logo{
    float: left;
    display: block;
    font-size: 300%;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 600;
    letter-spacing: 5px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:768px) {
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}


h1, h2 {
    font-family: roboto, sans-serif;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
    font-weight: 600;
}


.main-image {
    position: relative;
    text-align: center;
    color: #000000;
}



#header-image img{
    max-width: 100%;
    max-height: 25%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 900%;
    font-weight: bold;
}



#about-image img{
    max-width: 100%;
    max-height: 25%;
}



.about-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}

#workouts-image img{
    max-width: 100%;
    max-height: 25%;
}

.workouts-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.workouts-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}

#diets-image img{
    max-width: 100%;
    max-height: 25%;
}

.diets-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.diets-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}

#signup-image img{
    max-width: 100%;
    max-height: 25%;
}

.signup-image{
    position: relative;
    text-align: center;
    color: #fafafa;
}

.signup-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 600%;
}


#h3-section{
    font-size: 50%;

}
  
/* Sign up form */

* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  opacity: 0.9;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #000000;
  color: #f1f1f1;
  padding: 24px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



#signup-headers{
    font-size: 50px;
    font-weight: bold;
}

/* Footer Social networks */

#footer{
    height: 100px;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 1px;
    color: #000000;
}



@media screen and (max-width: 600px) {
    
    .h3 {
        position: relative;
        width: fit-content;
    }

    .p {
        font-size: 10%;
    }

    #h3-section {
        width: fit-content;
        font-size: 15%;
        position: relative;
    }

    #h3-title {
        font-size: 25%;
        position: relative;
    }

    #signup-form {
        position: absolute;
        max-width: 100%;
        font-size: 10%;
        
        
    
    }

    #signup-text{
        max-width: fit-content;
        display: inline;
    }

    #signup-headers {
        font-size: 10%;
    }
}